* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.App {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background: #E5E5E5;
}



.hero {
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 50px;

}

.hero-photo {
  max-width: 400px;
  align-self: center;
  margin-bottom: 30px;
}

.hero-header {
  margin-bottom: 16px;
  font-family: 'Poppins';
  font-size: 36px;
}

.hero-text {
  font-family: 'Poppins';
  font-size: 16px;
}