* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(https://wallpapercave.com/dwp1x/wp4923980.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.App {
  width: 550px;
  margin: 0 auto;
  background: #E5E5E5;
}

nav {
  padding: 20px 30px;
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.1);
}

.airbnb-logo {
  width: 90px;
  height: 30px;
}

section {
  padding: 50px;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero--photo {
  max-width: 400px;
  align-self: center;
  margin-bottom: 30px;
}

.hero--header {
  margin-bottom: 16px;
  font-family: 'Poppins';
  font-size: 36px;
}

.hero--text {
  font-family: 'Poppins';
  font-size: 16px;
  max-width: 60%;
}